[submodule "dsnet/aur"]
	path = dsnet/aur
	url = ssh://aur@aur.archlinux.org/dsnet.git
[submodule "dsnet-git/aur"]
	path = dsnet-git/aur
	url = ssh://aur@aur.archlinux.org/dsnet-git.git
[submodule "xp-pen/aur"]
	path = xp-pen/aur
	url = ssh://aur@aur.archlinux.org/xp-pen.git
[submodule "tiny-media-manager/aur"]
	path = tiny-media-manager/aur
	url = ssh://aur@aur.archlinux.org/tiny-media-manager.git
